body {
    background-color:#2a9d8f;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.image{
    text-align: center;
}

.box_format{
border: 1px;
padding:1em;
margin: 1em;
/*margin-left: 0em;*/
border-radius: 1em;
height: 19em;
}

.small_pizza{
    background-color:#e9c46a;
    flex: 1;
}

.medium_pizza {
background-color:#f4a261;
flex: 1;
}

.large_pizza{
    background-color:#e76f51;
    flex: 1;
}

.contact_details{
    background-color:#84a59d;
    height: 8em;
}

.contacts{
    margin:0em;
    padding: 0em;;
    display: inline;
    float: left;
}
.fa-instagram{
color: red;
}
.fa-facebook{
    color:navy;
}

.fa-twitter{
    color:dodgerblue;
}

.location{
    margin:0em;
    padding:0em;
    display:inline;
    float:right;
}

@media (min-width:960px){
    .pizzas{
        display: flex;
        }
        
}